<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="ui items" th:fragment="sidebar">
            <div class="item">
                <div class="image">
                    <img class="ui medium circular image" src="/img/me.jpg" />
                </div>
                <div class="content">
                    <a class="header">About Me</a>
                    <div class="meta">
                        <span>Cyclist; Coffee Consumer; Developer</span>
                    </div>
                    <div class="description">
                        <p>This is my little corner of the internet.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>