<html layout:decorator="index">
    <head></head>
    <body>
        <main layout:fragment="content" class="ui fluid">
            <div class="ui form">
                <div class="field">
                    <label>Title</label>
                    <input type="text" />
                </div>
                <div class="field">
                    <label>Body</label>
                    <textarea></textarea>
                </div>
                <button class="ui primary button">
                    Post
                </button>
                <button class="ui button">
                    Cancel
                </button>
            </div>
        </main>
    </body>
</html>
