<div class="ui pointing menu">
    <a class="{{#isBlog}}active{{/isBlog}} item" href="/">
        Home
    </a>
    <a class="item">
        About
    </a>
    {{#isLoggedIn}}
    <a class="{{#isCreatePost}}active{{/isCreatePost}} item" href="/create">
        Post
    </a>
    {{/isLoggedIn}}
    <div class="right menu">
        {{^isLoggedIn}}
            <a class="{{#isLogin}}active{{/isLogin}} item" href="/login">
                Login
            </a>
        {{/isLoggedIn}}
        {{#isLoggedIn}}
            <a class="item" href="/logout">
                Logout
            </a>
        {{/isLoggedIn}}
        <div class="item">
            <div class="ui transparent icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
    </div>
</div>