<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div class="ui pointing menu" th:fragment="header">
            <a class="item" th:classappend="${currentPage} == 'home' ? active" href="/">
                Home
            </a>
            <a class="item" th:classappend="${currentPage} == 'about' ? active" th:href="@{/about}">
                About
            </a>
            <a class="item" sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${currentPage} == 'create' ? active" th:href="@{/create}">
                Post
            </a>
            <div class="right menu">
                <a class="item" sec:authorize="hasRole('ROLE_ANONYMOUS')" th:classappend="${currentPage} == 'login' ? active" th:href="@{/login}">
                    Login
                </a>
                <a class="item" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/logout}">
                    Logout
                </a>
                <div class="item">
                    <div class="ui transparent icon input">
                        <input type="text" placeholder="Search..." />
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>