<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div class="ui pointing menu" th:fragment="header">
            <a class="active item" href="/">
                Home
            </a>
            <a class="item">
                About
            </a>
            <a class="item" href="/create">
                Post
            </a>
            <div class="right menu">
                <a class="item" href="/login">
                    Login
                </a>
                <a class="item" href="/logout">
                    Logout
                </a>
                <div class="item">
                    <div class="ui transparent icon input">
                        <input type="text" placeholder="Search..." />
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>